.caption1 {

}

@media (max-width : 1485px) {
    .caption1 {
        width: 380px!important;
        left: 70px!important;
    }   
}
@media (max-width : 1175px) {
    .caption1 {
        width: 280px!important;
        left: 40px!important;
        top: 90px!important;
    }   
}

@media (max-width : 992px) {
    .caption1 {
        width: 390px!important;
        left: 90px!important;
        top: 70px!important;
    }   
}

@media (max-width : 1507px) {
    .caption2 {
        left: 570px!important;
    }   
}

@media (max-width : 1440px) {
    .caption2 {
        width: 380px!important;
        left: 590px!important;
    }   
}

@media (max-width : 1244px) {
    .caption2 {
        width: 380px!important;
        left: 440px!important;
    }   
}

@media (max-width : 917px) {
    .caption2 {
        width: 300px!important;
        left: 280px!important;
    }   
}
@media (max-width : 750px) {
    .caption2 {
        width: 300px!important;
        left: 210px!important;
    }   
}

@media (max-width : 627px) {
    .caption2 {
        width: 300px!important;
        left: 140px!important;
    }   
}

@media (max-width : 450px) {
    .caption2 {
        width: 300px!important;
        left: 50px!important;
    }   
}

@media (max-width : 1260px) {
    .caption3 {
        top: 100px!important;
        width: 460px!important;
           }   
}

@media (max-width : 768px) {
    .caption3 {
        top: 20px!important;
        width: 360px!important;
        left: 120px!important;
        font-size: smaller!important;
           }   
           .caption3-para {
            font-size: large!important;
           }
}

@media (max-width : 500px) {
    .caption3 {
        width: 360px!important;
        left: 20px!important;
           }   
}


@media (max-width : 1270px) {
    .caption4 {
        width: 390px!important;
        right: 90px!important;
    }   
}

@media (max-width : 1025px) {
    .caption4 {
        width: 390px!important;
        right: 30px!important;
        top: 70px!important;
    }   
}

@media (max-width : 650px) {
    .caption1 {
        width: 400px!important;
        left: 90px!important;
        top: 70px!important;
        font-size: 20px!important;
    }   
   
}